{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
<?php $this->append('ypunto-quick-actions') ?>
    <a class="dropdown-item" href="<?= $this->Url->build(['action' => 'add']) ?>"><?= __('Crear {{ singularHumanName }}') ?></a>
    <a class="dropdown-item" href="<?= $this->Url->build(['action' => 'index']) ?>"><?= __('Listado de {{ pluralHumanName }}') ?></a>
    <div class="dropdown-divider"></div>
{%- set done = [] %}
{% for type, data in associations %}
{% for alias, details in data %}
{% if details.controller is not same as(_view.name) and details.controller not in done %}


    <h6 class="dropdown-header"><?= __('{{ alias|underscore|humanize }}') ?></h6>
    <a class="dropdown-item" href="<?= $this->Url->build(['controller' => '{{ details.controller }}', 'action' => 'index']) ?>"><?= __('Listado de {{ alias|underscore|humanize }}') ?></a>
    <a class="dropdown-item" href="<?= $this->Url->build(['controller' => '{{ details.controller }}', 'action' => 'add']) ?>"><?= __('Crear {{ alias|singularize|underscore|humanize }}') ?></a>
{%- set done = done|merge([details.controller]) %}
{% endif %}
{% endfor %}
{% endfor %}

<?php $this->end() ?>
