{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
        <div class="btn-toolbar actions-toolbar" role="toolbar" aria-label="<?= __('Acciones') ?>">
            <div class="btn-group actions-shared">
{% if action != 'index' %}
                <?= $this->Html->link(
                    sprintf('<i class="fas fa-fw fa-angle-left"></i> <span class="d-none d-sm-inline">%s</span>', __('Listado')),
                    ['action' => 'index'],
                    ['class' => 'btn btn-sm btn-light-alt btn-responsive', 'escape' => false]
                ) ?>

{% endif %}
{% if action != 'add' %}
                <?= $this->Html->link(
                    sprintf('<i class="fas fa-fw fa-plus"></i> <span class="d-none d-sm-inline">%s</span>', __('Crear {{ singularHumanName }}')),
                    ['action' => 'add'],
                    ['class' => 'btn btn-sm btn-light-alt btn-responsive', 'escape' => false]
                ) ?>

{% endif %}
            </div>
{% if action in ['view', 'edit'] %}
            <div class="btn-group actions-entity ml-4">
{% if action == 'view' %}
                <?= $this->Html->link(
                    sprintf('<i class="fas fa-fw fa-pencil-alt"></i> <span class="d-none d-sm-inline">%s</span>', __('Editar')),
                    ['action' => 'edit', ${{ singularVar }}->{{ primaryKey[0] }}],
                    ['class' => 'btn btn-sm btn-light-alt btn-responsive', 'escape' => false]
                ) ?>

{% endif %}
{% if action == 'edit' %}
                <?= $this->Html->link(
                    sprintf('<i class="fas fa-fw fa-eye"></i> <span class="d-none d-sm-inline">%s</span>', __('Ver')),
                    ['action' => 'view', ${{ singularVar }}->{{ primaryKey[0] }}],
                    ['class' => 'btn btn-sm btn-light-alt btn-responsive', 'escape' => false]
                ) ?>

{% endif %}
                <?= $this->Form->postLink(
                    sprintf('<i class="fas fa-fw fa-trash"></i> <span class="d-none d-sm-inline">%s</span>', __('Eliminar')),
                    ['action' => 'delete', ${{ singularVar }}->{{ primaryKey[0] }}],
                    ['confirm' => __('Eliminar este registro?'), 'class' => 'btn btn-sm btn-light-alt btn-responsive text-danger', 'escape' => false]
                ) ?>

            </div>
{% endif %}
        </div>