{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
<?php
/**
 * Soluciones yPunto. Html5 powered solutions.
 * CakePHP Responsive Template Admin made with Bootstrap 4.
 *
 * @link https://github.com/soluciones-ypunto/cake-admin
 * @copyright Copyright (c) Soluciones yPunto SAS (https://solucionesypunto.com).
 *
 * @var \{{ namespace }}\View\AppView $this
 * @var \{{ modelObject.getEntityClass() }}[]&\Cake\Datasource\ResultSetInterface ${{ pluralVar }}
 */
?>
{% set pk = '$' ~ singularVar ~ '->' ~ primaryKey[0] %}

<div class="{{ pluralVar }} index">
    <header class="ypunto-content-header">
        <h1 class="ypunto-title"><?= __('{{ pluralHumanName }}') ?></h1>

{{ element('Form/toolbarActions') }}

    </header>

    <div class="card">
        <div class="sticky-navbar-top bg-white p-0">
            <div class="d-flex flex-column flex-md-row p-2 justify-content-between">
                <div class="search-form mb-2">
                    <?= $this->Form->create() ?>

                    <div class="input-group me-auto">
                        <span class="input-group-text"><i class="fas fa-search fa-fw"></i></span>
                        <?= $this->Form->search('search', ['placeholder' => __('Buscar {{ pluralHumanName }}')]) ?>

                    </div>
                    <?= $this->Form->end() ?>

                </div>
                <div class="ms-auto">
                    <?= $this->element('Ypunto/Admin.paginator') ?>

                </div>
            </div>
            <div class="ypunto-table-headers">
                <div class="col col-id text-right"><?= $this->Paginator->sort('{{ primaryKey[0] }}', __('# Id.')) ?></div>
                <div class="col col-display-field"><?= $this->Paginator->sort('{{ displayField }}') ?></div>
{% if associationField %}
                <div class="col-3 col-lg-2"><?= $this->Paginator->sort('{{ associationField.foreignKey }}') ?></div>
{% endif %}
{% for field in otherListedFields %}
                <div class="col-2 d-none d-lg-block"><?= $this->Paginator->sort('{{ field }}') ?></div>
{% endfor %}
            </div>
        </div>

        <?php foreach (${{ pluralVar }} as ${{ singularVar }}): ?>
        <div class="ypunto-list-item">
            <div class="col col-id"><?= $this->Number->format({{ pk|raw }}) ?></div>
            <div class="col col-display-field">
                <a class="main-action" href="<?= $this->Url->build(['action' => 'view', {{ pk|raw }}]) ?>">
                    <span class="display-field"><?= h(${{ singularVar }}->{{ displayField }}) ?></span>
                    <span class="drop-field"><?= h(${{ singularVar }}->{{ dropField }}) ?></span>
                </a>

                <div class="actions dropdown">
                    <button class="btn btn-sm btn-outline-primary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton" data-bs-boundary="window">
                        <?= $this->Html->link(__('{icon} Ver', ['icon' => '<i class="far fa-fw fa-eye"></i>']), ['action' => 'view', {{ pk|raw }}], ['class' => 'dropdown-item', 'escape' => false]) ?>
                        <?= $this->Html->link(__('{icon} Editar', ['icon' => '<i class="fas fa-fw fa-pencil-alt"></i>']), ['action' => 'edit', {{ pk|raw }}], ['class' => 'dropdown-item', 'escape' => false]) ?>
                        <div class="dropdown-divider"></div>
                        <?= $this->Form->postLink(__('{icon} Eliminar', ['icon' => '<i class="fas fa-fw fa-trash"></i>']), ['action' => 'delete', {{ pk|raw }}], ['confirm' => __('Eliminar este registro?', {{ pk|raw }}), 'class' => 'dropdown-item text-danger', 'escape' => false]) ?>
                    </div>
                </div>
            </div>
{% if associationField %}
            <div class="col-3 col-lg-2"><?= ${{ singularVar }}->has('{{ associationField.property }}') ? $this->Html->link(${{ singularVar }}->{{ associationField.property }}->nombre, ['controller' => '{{ associationField.controller }}', 'action' => 'view', ${{ singularVar }}->{{ associationField.property }}->{{ associationField.primaryKey[0] }}]) : '' ?></div>
{% endif %}
{% for field in otherListedFields %}
{% set columnData = Bake.columnData(field, schema) %}
{% if columnData.type not in ['integer', 'float', 'decimal', 'biginteger', 'smallinteger', 'tinyinteger'] %}
            <div class="col-2 d-none d-lg-block"><?= h(${{ singularVar }}->{{ field }}) ?></div>
{% else %}
            <div class="col-2 d-none d-lg-block"><?= $this->Number->format(${{ singularVar }}->{{ field }}) ?></div>
{% endif %}
{% endfor %}
        </div>
        <?php endforeach; ?>

    </div>
</div>

<?php $this->append('ypunto-quick-actions') ?>
    <a class="dropdown-item" href="<?= $this->Url->build(['action' => 'add']) ?>"><?= __('Crear {{ singularHumanName }}') ?></a>
    <div class="dropdown-divider"></div>
{% set done = [] %}
{% for type, data in associations %}
{% for alias, details in data %}
{% if details.navLink and details.controller is not same as(_view.name) and details.controller not in done %}

    <h6 class="dropdown-header"><?= __('{{ alias|underscore|humanize }}') ?></h6>
    <a class="dropdown-item" href="<?= $this->Url->build(['controller' => '{{ details.controller }}', 'action' => 'index']) ?>"><?= __('Listado de {{ alias|underscore|humanize }}') ?></a>
    <a class="dropdown-item" href="<?= $this->Url->build(['controller' => '{{ details.controller }}', 'action' => 'add']) ?>"><?= __('Crear {{ alias|singularize|underscore|humanize }}') ?></a>
{% set done = done|merge([details.controller]) %}
{% endif %}
{% endfor %}
{% endfor %}

<?php $this->end() ?>
