{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
<?php
/**
 * Soluciones yPunto. Html5 powered solutions.
 * CakePHP Responsive Template Admin made with Bootstrap 4.
 *
 * @link https://github.com/soluciones-ypunto/cake-admin
 * @copyright Copyright (c) Soluciones yPunto SAS (https://solucionesypunto.com).
 *
 * @var \{{ namespace }}\View\AppView $this
 * @var \{{ modelObject.getEntityClass() }} ${{ singularVar }}
 */
?>
{#{% set associations = {'BelongsTo': [], 'HasOne': [], 'HasMany': [], 'BelongsToMany': []}|merge(associations) %}#}
{#{% set fieldsData = Bake.getViewFieldsData(fields, schema, associations) %}#}
{% set associationFields = fieldsData.associationFields %}
{% set groupedFields = fieldsData.groupedFields %}
{#{% set pK = '$' ~ singularVar ~ '->' ~ primaryKey[0] %}#}

<div class="ypunto-content {{ pluralVar }} view">
    <header class="ypunto-content-header">
        <h1 class="ypunto-title"><?= h(${{ singularVar }}->{{ displayField }}) ?></h1>

{% element 'Form/toolbarActions' %}

    </header>

    <div class="ypunto-view">
        <section class="ypunto-view-main">
            <div class="card ypunto-view-info">
{% if groupedFields['string'] %}
                <div class="card-body strings">
{% for field in groupedFields['string'] %}
{% if associationFields[field] %}
{% set details = associationFields[field] %}
                    <div class="row row-data">
                        <div class="col-xl-3 key"><?= __('{{ details.property|humanize }}') ?></div>
                        <div class="col val"><?= ${{ singularVar }}->has('{{ details.property }}') ? $this->Html->link(${{ singularVar }}->{{ details.property }}->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action' => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}]) : '' ?></div>
                    </div>
{% else %}
                    <div class="row row-data">
                        <div class="col-xl-3 key"><?= __('{{ field|humanize }}') ?></div>
                        <div class="col val"><?= h(${{ singularVar }}->{{ field }}) ?></div>
                    </div>
{% endif %}
{% endfor %}
                </div>
{% endif %}
{% if associations.HasOne %}
                <div class="card-body border-top numbers">
{% for alias, details in associations.HasOne %}
                    <div class="row row-data">
                        <div class="col-xl-3 key"><?= __('{{ alias|underscore|singularize|humanize }}') ?></div>
                        <div class="col val"><?= ${{ singularVar }}->has('{{ details.property }}') ? $this->Html->link(${{ singularVar }}->{{ details.property }}->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action' => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}]) : '' ?></div>
                    </div>
{% endfor %}
                </div>
{% endif %}
{% if groupedFields.number %}
                <div class="card-body border-top numbers">
{% for field in groupedFields.number %}
                    <div class="row row-data">
                        <div class="col-xl-3 key"><?= __('{{ field|humanize }}') ?></div>
                        <div class="col val"><?= $this->Number->format(${{ singularVar }}->{{ field }}) ?></div>
                    </div>
{% endfor %}
                </div>
{% endif %}
{% if groupedFields.date %}
                <div class="card-body border-top dates">
{% for field in groupedFields.date %}
                    <div class="row row-data">
                        <div class="col-xl-3 key"><?= __('{{ field|humanize }}') ?></div>
                        <div class="col val"><?= h(${{ singularVar }}->{{ field }}) ?></div>
                    </div>
{% endfor %}
                </div>
{% endif %}
{% if groupedFields.boolean %}
                <div class="card-body border-top booleans">
{% for field in groupedFields.boolean %}
                    <div class="row row-data">
                        <div class="col-xl-3 key"><?= __('{{ field|humanize }}') ?></div>
                        <div class="col val"><?= ${{ singularVar }}->{{ field }} ? __('Sí') : __('No'); ?></div>
                    </div>
{% endfor %}
                </div>
{% endif %}
{% if groupedFields.text %}
                <div class="card-body border-top texts">
{% for field in groupedFields.text %}
                    <div class="row row-data">
                        <div class="col-xl-3 key"><?= __('{{ field|humanize }}') ?></div>
                        <div class="col val"><?= $this->Text->autoParagraph(h(${{ singularVar }}->{{ field }})); ?></div>
                    </div>
{% endfor %}
                </div>
{% endif %}
            </div>
        </section>
        <section class="ypunto-view-aside">
            <div class="card ypunto-actions-card">
                <?= $this->element('Entity/info', ['entity' => ${{ singularVar }}]) ?>

            </div>
        </section>
    </div>

{% set relations = associations.BelongsToMany|merge(associations.HasMany) %}
{% if relations %}
    <div class="row align-items-center">
        <div class="col-md-auto"><h4 class="mb-0 font-weight-light"><?= __('Vínculos') ?></h4></div>
        <div class="col-md">
            <div class="py-2">
{% for alias, details in associations.BelongsToMany %}
{% set otherSingularVar = alias|variable %}
{% set otherPluralHumanName = details.controller|underscore|humanize %}
                <?= $this->Html->link(
                    __('{icon} {{ alias|singularize }}', ['icon' => '<i class="fas fa-plus fa-fw"></i>']),
                    ['controller' => '{{ details.controller }}', 'action' => 'add', '?' => ['{{ pluralVar }}[_ids][]' => ${{ singularVar }}->{{ primaryKey[0] }}, '_redirect' => $this->request->getRequestTarget()]],
                    ['class' => 'btn btn-sm btn-light-alt', 'escape' => false, 'title' => __('Agregar {{ alias|singularize }}')]
                ) ?>
{% endfor %}
{% for alias, details in associations.HasMany %}
{% set otherSingularVar = alias|variable %}
{% set otherPluralHumanName = details.controller|underscore|humanize %}
                <?= $this->Html->link(
                    __('{icon} {{ alias|singularize }}', ['icon' => '<i class="fas fa-plus fa-fw"></i>']),
                    ['controller' => '{{ details.controller }}', 'action' => 'add', '?' => ['{{ details.foreignKey }}' => ${{ singularVar }}->{{ primaryKey[0] }}, '_redirect' => $this->request->getRequestTarget()]],
                    ['class' => 'btn btn-sm btn-light-alt', 'escape' => false, 'title' => __('Agregar {{ alias|singularize }}')]
                ) ?>
{% endfor %}
            </div>
        </div>
    </div>

    <div class="card related">
        <div class="card-header ypunto-card-header-nav">
            <ul class="nav nav-pills card-header-pills" role="tablist">
{% for alias, details in relations %}
{% set otherSingularVar = alias|variable %}
{% set otherPluralHumanName = details.controller|underscore|humanize %}
                <li class="nav-item">
                    <a class="nav-link{% if true == loop.first %} active{% endif %}" data-toggle="tab" href="#{{ otherSingularVar }}" role="tab" aria-controls="{{ otherSingularVar }}"{% if true == loop.first %} aria-selected="true"{% endif %}>
                        <?= __('{{ otherPluralHumanName }}') ?> <span class="badge badge-pill badge-success ml-2"><?= count(${{ singularVar }}->{{ details.property }}) ?></span>
                    </a>
                </li>
{% endfor %}
            </ul>
        </div>
        <div class="tab-content">
{% for alias, details in relations %}
{% set otherSingularVar = alias|variable %}
{% set otherPluralHumanName = details.controller|underscore|humanize %}
{% set otherPk = '$' ~ otherSingularVar ~ '->' ~ details.primaryKey[0] %}
            <div class="tab-pane table-responsive fade{% if true == loop.first %} show active{% endif %}" id="{{ otherSingularVar }}" role="tabpanel" aria-labelledby="profile-tab">
            <?php if (!empty(${{ singularVar }}->{{ details.property }})): ?>
                <div class="ypunto-table-headers bg-light">
                    <div class="col col-header col-id text-right"><?= __('# Id.') ?></div>
                    <div class="col col-header col-display-field"><?= __('{{ details.displayField|humanize }}') ?></div>
                </div>
                <?php foreach (${{ singularVar }}->{{ details.property }} as ${{ otherSingularVar }}): ?>
                <div class="ypunto-list-item">
                    <div class="col col-id"><?= $this->Number->format({{ otherPk|raw }}) ?></div>
                    <div class="col col-display-field">
                        <a class="main-action" href="<?= $this->Url->build(['controller' => '{{ details.controller }}', 'action' => 'view', {{ otherPk|raw }}]) ?>">
                            <span class="display-field"><?= h(${{ otherSingularVar }}->{{ details.displayField }}) ?></span>
                        </a>

                        <div class="actions btn-group btn-group-sm" role="group" aria-label="<?= __('Acciones') ?>">
                            <?= $this->Html->link(
                                sprintf('<i class="far fa-fw fa-eye"></i> <span class="d-none d-sm-inline">%s</span>', __('Ver')),
                                ['controller' => '{{ details.controller }}', 'action' => 'view', {{ otherPk|raw }}],
                                ['class' => 'btn btn-light-alt btn-responsive', 'escape' => false, 'title' => __('Ver')]
                            ) ?>
                            <?= $this->Html->link(
                                sprintf('<i class="fas fa-fw fa-pencil-alt"></i> <span class="d-none d-sm-inline">%s</span>', __('Editar')),
                                ['controller' => '{{ details.controller }}', 'action' => 'edit', {{ otherPk|raw }}, '?' => ['_redirect' => $this->request->getRequestTarget()]],
                                ['class' => 'btn btn-light-alt btn-responsive', 'escape' => false, 'title' => __('Editar')]
                            ) ?>
                        </div>
                    </div>
                </div>
                <?php endforeach; ?>
            <?php endif; ?>
            </div>
{% endfor %}
        </div>
    </div>
{% endif %}
</div>

<?php $this->append('ypunto-quick-actions') ?>
    <a class="dropdown-item" href="<?= $this->Url->build(['action' => 'add']) ?>"><?= __('Crear {{ singularHumanName }}') ?></a>
    <a class="dropdown-item" href="<?= $this->Url->build(['action' => 'index']) ?>"><?= __('Listado de {{ pluralHumanName }}') ?></a>
{% if data %}
    <div class="dropdown-divider"></div>
{% endif %}

{% set done = [] %}
{% for type, data in associations %}
{% for alias, details in data %}
{% if details.controller is not same as(_view.name) and details.controller not in done %}
    <h6 class="dropdown-header"><?= __('{{ alias|underscore|humanize }}') ?></h6>
    <a class="dropdown-item" href="<?= $this->Url->build(['controller' => '{{ details.controller }}', 'action' => 'index']) ?>"><?= __('Listado de {{ alias|underscore|humanize }}') ?></a>
    <a class="dropdown-item" href="<?= $this->Url->build(['controller' => '{{ details.controller }}', 'action' => 'add']) ?>"><?= __('Crear {{ alias|underscore|singularize|humanize }}') ?></a>

{% set done = done|merge(['controller']) %}
{% endif %}
{% endfor %}
{% endfor %}
<?php $this->end() ?>
